<h1>Sapling Advisory Matcher</h1>

<div class="row">
  <div class="col-md-6">
    <h2>Add Profile</h2>
    <form action="/linkedin_profiles" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <div class="form-group">
        <input
        type="text"
        class="form-control huge"
        name="link"
        id="link"
        placeholder="https://www.linkedin.com/pub..." />
      </div>

      <div class="form-group">
        <label>
          Advisor
          <input type="radio" name="client_type" value="Advisor" checked/>
        </label>
        <label>
          Potential Client
          <input type="radio" name="client_type" value="PotentialClient" />
        </label>
      </div>

      <div class="form-group">
        <button class="btn btn-lg btn-success">Add</button>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <h2>People</h2>
    <div class="list-group">
      <% @profiles.each do |person| %>
        <a href="<%= linkedin_profile_url(person) %>" class="list-group-item">
          <%= person.name %>
          <span class="badge"><%= person.client_type %></span>
        </a>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#link').on('change', function (event) {
      var link = $(event.currentTarget).val();
      if(!link.startsWith("http")) {
        link = "http://" + link;
      }
      $('#link').val(link);
    });
  });
</script>
